@charset "utf-8";

@font-face {
    font-family: 'GothamPro-Regular';
    src: url('../fonts/GothamPro-Regular.eot');
    src: url('../fonts/GothamPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamPro-Regular.woff2') format('woff2'),
        url('../fonts/GothamPro-Regular.woff') format('woff'),
        url('../fonts/GothamPro-Regular.ttf') format('truetype'),
        url('../fonts/GothamPro-Regular.svg#GothamPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro-Medium';
    src: url('../fonts/GothamPro-Medium.eot');
    src: url('../fonts/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamPro-Medium.woff2') format('woff2'),
        url('../fonts/GothamPro-Medium.woff') format('woff'),
        url('../fonts/GothamPro-Medium.ttf') format('truetype'),
        url('../fonts/GothamPro-Medium.svg#GothamPro-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro-Light';
    src: url('../fonts/GothamPro-Light.eot');
    src: url('../fonts/GothamPro-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamPro-Light.woff2') format('woff2'),
        url('../fonts/GothamPro-Light.woff') format('woff'),
        url('../fonts/GothamPro-Light.ttf') format('truetype'),
        url('../fonts/GothamPro-Light.svg#GothamPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro-Bold';
    src: url('../fonts/GothamPro-Bold.eot');
    src: url('../fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamPro-Bold.woff2') format('woff2'),
        url('../fonts/GothamPro-Bold.woff') format('woff'),
        url('../fonts/GothamPro-Bold.ttf') format('truetype'),
        url('../fonts/GothamPro-Bold.svg#GothamPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro-Black';
    src: url('../fonts/GothamPro-Black.eot');
    src: url('../fonts/GothamPro-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamPro-Black.woff2') format('woff2'),
        url('../fonts/GothamPro-Black.woff') format('woff'),
        url('../fonts/GothamPro-Black.ttf') format('truetype'),
        url('../fonts/GothamPro-Black.svg#GothamPro-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?87hcug');
  src:  url('../fonts/icomoon.eot?87hcug#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?87hcug') format('truetype'),
    url('../fonts/icomoon.woff?87hcug') format('woff'),
    url('../fonts/icomoon.svg?87hcug#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]:before, 
[class*=" icon-"]:before,
ul.b-breadcrumbs li:after,
.catalog-submenu > li > a:after{
	/* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
  content: "\e900";
}
.icon-menu:before {
  content: "\e901";
  color: #fff;
}
.icon-phone:before {
  content: "\e902";
  color: #a3aebc;
}
.icon-user:before {
  content: "\e903";
  color: #a3aebc;
}
.icon-arrow-next:before {
  content: "\e904";
  color: #a3aebc;
}
.icon-search:before {
  content: "\e905";
  color: #a3aebc;
  font-size: 20px;
}


html,
body {
	position: relative;
}
body {
	min-width: 1204px;
	text-align: left;
	font-family: 'GothamPro-Regular';
	font-size: 16px;
	line-height: 24px;
	overflow-x: hidden;
	-webkit-text-size-adjust: none;
	color: #282828;
}
a{
	text-decoration: none;
	color: #282828;
}
label.error{
	display: none !important;
}
input.error,textarea.error{
	border: 1px solid #F00 !important;
	box-shadow: 0 -3px 0 0 #ff4e4e !important;
}
input[name="MAIL"]{
	display: none !important;
}

.fancybox-inner{
	overflow: visible !important;
}
b, .bold{
	font-family: 'GothamPro-Bold';
}
.underline{
	text-decoration: underline;
}
.white{
	color: #FFF;
}

.hide{
	display: none !important;
}
.center{
	text-align: center;
}
.dashed{
	border-bottom: 1px dashed #282828;
}
.dashed:hover{
	border-bottom: 1px dashed transparent;
}

.b{
	position: relative;
}
.b-block{
	position: relative;
	width: 1156px;
	margin: 0px auto;
}
input::-webkit-input-placeholder {
	color: #A3AEBC;
}
input:-moz-placeholder {
	color: #A3AEBC;
}

.b-btn-orange{
	position: relative;
	color: #FFF;
	border-radius: 100px;
	display: inline-block;
	min-width: 200px;
	padding: 19px 30px 19px 30px;
	text-align: center;
	font-family: 'GothamPro-Medium';
	font-size: 16px;
	line-height: 16px;
}
	.b-btn-orange span{
		position: relative;
		display: inline-block;
		z-index: 5;
		-webkit-transition: transform 100ms ease-out;
		   -moz-transition: transform 100ms ease-out;
		    -ms-transition: transform 100ms ease-out;
		   	 -o-transition: transform 100ms ease-out;
				transition: transform 100ms ease-out;
	}
	.b-btn-orange:before,
	.b-btn-orange:after{
		overflow: hidden;
		position: absolute;
		content: "s";
		font-size: 0px;
		width: 100%;
		height: 100%;
		left: 0px;
		bottom: 0px;
		border-radius: 100px;
		overflow: hidden;
		-webkit-transition: box-shadow 100ms ease-out, transform 100ms ease-out;
		   -moz-transition: box-shadow 100ms ease-out, transform 100ms ease-out;
		    -ms-transition: box-shadow 100ms ease-out, transform 100ms ease-out;
		   	 -o-transition: box-shadow 100ms ease-out, transform 100ms ease-out;
				transition: box-shadow 100ms ease-out, transform 100ms ease-out;
	}
	.b-btn-orange:active span{
		-webkit-transform: translateY(3px);
		   -moz-transform: translateY(3px);
	    	-ms-transform: translateY(3px);
	    	 -o-transform: translateY(3px); 
	    		transform: translateY(3px);
	}
	/*=====*/
	.b-btn-orange:before{
		z-index: 1;
		background: #DB5D00;
		box-shadow: 0 10px 25px 0 rgba(228,82,0,.4);
	}
	.b-btn-orange:after{
		bottom: 3px;
    	z-index: 2;
		background-image: linear-gradient(-44deg, #F38600 0%, #E45200 100%);
	}

	/*.b-btn-orange:hover:before{

	}
	.b-btn-orange:hover:after{
		background-image: linear-gradient(-180deg, #FFBD73 0%, #ED7408 100%);
		box-shadow: inset 0 2px 3px 0 rgba(255,255,255,0.50), inset 0 -20px 50px 0 #F16D32;
	}*/

	.b-btn-orange:active:before{

	}
	.b-btn-orange:active:after{
		-webkit-transform: translateY(3px);
		   -moz-transform: translateY(3px);
	    	-ms-transform: translateY(3px);
	    	 -o-transform: translateY(3px); 
	    		transform: translateY(3px);
	}

.b-btn-orange.b-btn-input{
	padding: 22px 30px 22px 30px;
	width: 100%;
	border-radius: 5px;
	font-size: 20px;
	line-height: 20px;
}
.b-btn-orange.b-btn-input:before,
.b-btn-orange.b-btn-input:after{
	border-radius: 5px;
}

.b-btn-tr{
	display: inline-block;
	padding: 19px 46px 17px 46px;
	border: 2px solid #E1E5EA;
	border-radius: 100px;
	text-align: center;
	font-family: 'GothamPro-Medium';
	font-size: 16px;
	line-height: 16px;
}
.b-btn-tr.white{
	border: 2px solid rgba(255,255,255,0.30);
}

h1{
	font-family: 'GothamPro-Bold';
	font-size: 36px;
	line-height: 46px;
	margin-bottom: 40px;
}
h2{
	position: relative;
	font-size: 40px;
	line-height: 50px;
}
h2:after, h1:after{
	content: "";
	display: block;
	width: 120px;
	height: 5px;
	background-image: linear-gradient(180deg, #F38600 0%, #E45200 100%);
	margin-top: 24px;
}
h2.center:after, h1.center:after{
	margin-left: auto;
	margin-right: auto;
}
h3{
	
}

.b-back-dark{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	z-index: 1;
}

/* ===== b-text =====*/

.b-text{

}
	.b-text h2{
		font-size: 30px;
		line-height: 40px;
		margin-bottom: 36px;
		font-family: 'GothamPro-Bold';
	}
	.b-text h2:after{
		display: none;
	}
	.b-text p{
		color: #555555;
		margin-bottom: 24px;
	}
	.b-text p:last-child{
		margin-bottom: 0;
	}

/* ===== Header ===== */

.b-header{
	background-position: 50% 50%;
    background-image: url(../i/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
	.b-header .b-block{
		z-index: 2;
	}
		.b-header-top{
			padding-top: 29px;
			margin-bottom: 26px;
		}
			.b-header-top .b-logo{
				margin-top: 6px;
				margin-right: 40px;
			}
			.b-logo{
				width: 206px;
				display: inline-block;
				vertical-align: top;
			}
				.b-logo .text{
					float: right;
					color: #FFF;
					font-size: 16px;
					line-height: 16px;
				}
				.b-logo .logo{
					display: inline-block;
					vertical-align: top;
					width: 206px;
					height: 33px;
					background-position: 50% 50%;
				    background-image: url(../i/logo.svg);
				    background-repeat: no-repeat;
				    background-size: 206px;
				}
			.b-menu-desktop{
				margin-top: 26px;
				display: inline-block;
				vertical-align: top;
			}
				.b-menu-desktop li{
					display: inline-block;
    				margin-right: 47px;
				}
				.b-menu-desktop li:last-child{
					margin-right: 0;
				}
					.b-menu-desktop li a{
						display: inline-block;
					    color: #FFF;
					    line-height: 16px;
					}

			.b-header-right{
				float: right;
			}
				.b-head-phone{
					display: inline-block;
					vertical-align: top;
					font-family: 'GothamPro-Bold';
					font-size: 20px;
					line-height: 20px;
					color: #FFF;
					margin-bottom: 16px;
				}
				.b-header-right .b-btn-orange{
					float: right;
					min-width: 173px;
					font-size: 14px;
					padding: 12px 27px 13px 27px;
				}
				.b-header-right .b-btn-orange:before{
					display: none;
				}
				.b-header-right .b-btn-orange:after{
					bottom: 0px;
					background-image: linear-gradient(180deg, #F38600 0%, #E45200 100%);
				}

		.b-header-search{
			padding: 24px 32px;
			background-color: rgba(255,255,255,0.1);
			margin-bottom: 50px;
		}
			.b-btn-header{
				display: inline-block;
				border: 2px solid #FFF;
				padding: 15px 31px 13px 31px;
				min-width: 141px;
				color: #FFF;
				font-family: 'GothamPro-Medium';
				line-height: 20px;
				text-align: center;
			}
				.b-header-catalog-text{
					margin-right: 20px;
				}
				.b-header-catalog .icon-menu{

				}
			.b-btn-header-catalog-cont{
				position: relative;
				display: inline-block;
				vertical-align: top;
				margin-right: 20px;
			}
				.b-btn-header-catalog{

				}
				.b-btn-header-catalog-cont > .catalog-submenu{
					opacity: 0;
					visibility: hidden;
					-webkit-transform: translateY(-10px);
					   -moz-transform: translateY(-10px);
				    	-ms-transform: translateY(-10px);
				    	 -o-transform: translateY(-10px); 
				    		transform: translateY(-10px);
				}
				.b-btn-header-catalog-cont:hover > .catalog-submenu{
					opacity: 1;
					visibility: visible;
					-webkit-transform: translateY(0);
					   -moz-transform: translateY(0);
				    	-ms-transform: translateY(0);
				    	 -o-transform: translateY(0); 
				    		transform: translateY(0);
				}
				.catalog-submenu{
					position: absolute;
					top: 77px;
					left: 0;
					background-color: #FFF;
					box-shadow: 0 15px 25px 0 rgba(0,0,0,0.10);
					width: 100%;
					-webkit-transition: opacity 200ms ease-out, visibility 200ms ease-out, transform 200ms ease-out;
					   -moz-transition: opacity 200ms ease-out, visibility 200ms ease-out, transform 200ms ease-out;
					    -ms-transition: opacity 200ms ease-out, visibility 200ms ease-out, transform 200ms ease-out;
					   	 -o-transition: opacity 200ms ease-out, visibility 200ms ease-out, transform 200ms ease-out;
							transition: opacity 200ms ease-out, visibility 200ms ease-out, transform 200ms ease-out;
				}
				.catalog-submenu:before {
				    position: absolute;
				    content: "s";
				    font-size: 0px;
				    width: 0px;
				    height: 0px;
				    left: calc(50% - 10px);
				    top: -18px;
				    border-top: 9px solid transparent;
				    border-right: 10px solid transparent;
				    border-bottom: 9px solid #FFF;
				    border-left: 10px solid transparent;
				}
				.catalog-submenu:after {
				    content: "s";
				    font-size: 0px;
				    position: absolute;
				    left: 0px;
				    top: -25px;
				    width: 100%;
				    height: 25px;
				}
					.catalog-submenu li{
						position: relative;
						border-bottom: 1px solid #EAEFF7;
					}
					.catalog-submenu li:last-child{
						border-bottom: 0;
					}
						.catalog-submenu li a{
							display: inline-block;
							width: 100%;
							padding: 20px 32px;
						}
						.b-btn-header-catalog-cont > .catalog-submenu > li > a:after{
							content: "\e904";
						    position: absolute;
						    top: 28px;
						    right: 32px;
						    font-size: 10px;
						    -webkit-transition: right 200ms ease-out;
							   -moz-transition: right 200ms ease-out;
							    -ms-transition: right 200ms ease-out;
							   	 -o-transition: right 200ms ease-out;
									transition: right 200ms ease-out;
						}
						.b-btn-header-catalog-cont > .catalog-submenu > li:hover > a:after{
							color: #FFF;
							right: 20px;
						}
						.b-btn-header-catalog-cont > .catalog-submenu > li:hover > a{
							color: #FFF;
							background-image: linear-gradient(180deg, #F38600 0%, #E45200 100%);
						}
						.catalog-submenu li .catalog-submenu{
							left: 100%;
    						top: 0;
    						opacity: 0;
							visibility: hidden;
						}
						.catalog-submenu li:hover .catalog-submenu{
							opacity: 1;
							visibility: visible;
						}
						.catalog-submenu li .catalog-submenu:before,
						.catalog-submenu li .catalog-submenu:after{
							display: none;
						}
							.catalog-submenu li .catalog-submenu li{
								
							}
								.catalog-submenu li .catalog-submenu li a{
									
								}
			.b-input-search{
				display: inline-block;
				vertical-align: top;
				width: calc(100% - 458px);
			}
				.b-input-search input{
					width: 100%;
					padding: 18px 24px 15px 24px;
				    background-color: rgba(255,255,255,0.3);
				    color: #FFF;
				    border: 0;
				    border-radius: 0;
				    font-size: 16px;
				    line-height: 20px;
				    font-family: 'GothamPro-Regular';
				}
				.b-input-search input::-webkit-input-placeholder {
					color: rgba(255,255,255,0.8);
				}
				.b-input-search input:-moz-placeholder {
					color: rgba(255,255,255,0.8);
				}
			.b-btn-header-search{
				float: right;
			}

	.b-header-content{
		padding: 52px 0 138px 0;
	}
		.b-header-content h1{
			max-width: 691px;
			font-family: 'GothamPro-Regular';
			font-size: 40px;
			line-height: 55px;
			color: #FFF;
		}
		
		.b-header-content h1:after{
			margin-top: 32px;
			margin-bottom: 40px;
		}
		.b-header-adv-list{

		}
			.b-header-adv-item{
				display: inline-block;
				vertical-align: top;
				width: 450px;
				margin-right: 60px;
			}
			.b-header-adv-item:nth-child(2n){
				margin-right: 0;
			}
				.b-header-adv-item .b-img{
					display: inline-block;
					vertical-align: middle;
					width: 70px;
					height: 70px;
					background-position: 50% 50%;
				    background-repeat: no-repeat;
				    background-size: 70px;
				    margin-right: 20px;
				}
				.b-header-adv-item-right{
					display: inline-block;
					vertical-align: middle;
					width: calc(100% - 95px);
					color: #FFF;
				}
					.b-header-adv-item-right h3{
						font-size: 24px;
						line-height: 32px;
						font-family: 'GothamPro-Bold';
						margin-bottom: 4px;
					}
					.b-header-adv-item-right p{

					}

/* ===== b-1 ===== */

.b-1{
	padding: 60px 0 106px 0;
	background-position: 50% 50%;
    background-image: url(../i/b-1-back.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.b-1-list{
	margin-top: 90px;
}
	.b-1-item{
		display: inline-block;
	    vertical-align: top;
	    width: calc(100% / 3 - 20px);
	    margin-right: 24px;
	    text-align: center;
	}
	.b-1-item:last-child{
		margin-right: 0;
	}
		.b-1-item .b-img{
			height: 150px;
			background-position: 50% 50%;
		    background-repeat: no-repeat;
		    background-size: contain;
		    margin-bottom: 40px;
		}
		.b-1-item h3{
			font-family: 'GothamPro-Medium';
			font-size: 20px;
			line-height: 30px;
			margin-bottom: 16px;
		}
		.b-1-item p{
			color: #555555;
		}

/* ===== b-2 ===== */

.b-2{
	padding: 150px 0 150px 0;
	background-position: 50% 50%;
    background-image: url(../i/b-2-back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
	.b-2-content{
		max-width: 627px;
		padding: 48px 58px 57px;
		background: rgba(255,255,255,0.8);
		box-shadow: 0 10px 35px 0 rgba(0,0,0,0.10);
		border-radius: 5px;
		float: right;
	}
		.b-2-content p{
			margin-top: 24px;
		}

/* ===== ===== */

/* ===== b-3 ===== */

.b-3{

}
.b-3 .b-block{
	padding: 105px 0 84px 0;
	background-position: 100% 100%;
    background-image: url(../i/b-3-back.jpg);
    background-repeat: no-repeat;
    background-size: 830px;
}
	.b-3-left{
		display: inline-block;
		vertical-align: top;
		margin-top: 64px;
		max-width: 519px;
	}
		.b-3-left > p{
			margin-top: 24px;
			color: #555555;
		}
		.b-3-manager{
			margin-top: 32px;
		}
			.b-3-manager .b-img{
				display: inline-block;
				vertical-align: middle;
				width: 80px;
				height: 80px;
				background-position: 50% 50%;
			    background-image: url(../i/b-3-man.jpg);
			    background-repeat: no-repeat;
			    background-size: 80px;
			    margin-right: 20px;
			    border-radius: 100px;
			}
			.b-3-manager-text{
				display: inline-block;
				vertical-align: middle;
			}
				.b-3-manager h3{
					font-size: 18px;
					line-height: 24px;
					margin-bottom: 4px;
				}
				.b-3-manager p{
					font-size: 14px;
					line-height: 24px;
					color: #555555;
				}
	.b-3-right{
		width: 412px;
		float: right;
		background-color: #FFF;
		border-radius: 5px;
		box-shadow: 0 10px 35px 0 rgba(0,0,0,0.10);
	}
		.b-3-form{
			padding: 59px 46px 26px 46px;
		}
			.b-btn-orange.b-btn-input{
				margin: 6px 0 26px 0;
			}
		.b-3-contacts{
			border-top: 1px solid #E1E5EA;
			padding: 20px 0;
			text-align: center;
		}
				.b-3-contacts p{
					font-size: 12px;
					line-height: 20px;
				}

/* ===== ===== */

/* ===== b-reviews ===== */

.b-reviews{
	padding: 70px 0 88px 0;
	background-position: 50% 50%;
    background-image: url(../i/reviews-back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
	.b-reviews .b-block{
		z-index: 2;
	}
		.b-reviews-list{
			margin: 60px 0 50px 0;
		}
			.b-reviews-item{
				color: #FFF;
				display: inline-block;
			    vertical-align: top;
			    width: calc(100% / 3 - 20px);
			    margin-right: 24px;
			    text-align: center;
			}
			.b-reviews-item:last-child{
				margin-right: 0;
			}
				.b-reviews-item .b-img{
					width: 150px;
					height: 210px;
					background-position: 50% 50%;
				    background-repeat: no-repeat;
				    background-size: contain;
				    border-radius: 5px;
				    overflow: hidden;
				    margin: 0 auto 37px auto;
				}
				.b-reviews-item p{
					margin-bottom: 8px;
				}
				.b-reviews-item h3{
					font-family: 'GothamPro-Medium';
					font-size: 20px;
					line-height: 30px;
				}

/* ===== ===== */

/* ===== news ===== */

.b-news{
	padding: 70px 0 90px 0;
}
	.b-news-list{
		margin: 50px 0 70px 0;
	}
		.b-news-item{
			display: inline-block;
		    vertical-align: top;
		    width: calc(100% / 3 - 20px);
		    margin-right: 24px;
		    background-color: #FFF;
			box-shadow: 0 15px 30px 0 rgba(0,0,0,0.10);
			border-radius: 5px;
		}
		.b-news-item:nth-child(3n){
			margin-right: 0;
		}
			.b-news-item .b-img-cont{
				width: 100%;
    			height: 207px;
    			overflow: hidden;
			}
				.b-news-item .b-img{
					width: 100%;
				    height: 100%;
				    background-position: 50% 50%;
				    background-repeat: no-repeat;
				    background-size: cover;
				    -webkit-transition: transform 500ms ease-out;
				    -moz-transition: transform 500ms ease-out;
				    -ms-transition: transform 500ms ease-out;
				    -o-transition: transform 500ms ease-out;
				    transition: transform 500ms ease-out;
				}
				.b-news-item .b-img-cont:hover .b-img {
				    -webkit-transform: scale(1.1);
				    -moz-transform: scale(1.1);
				    -ms-transform: scale(1.1);
				    -o-transform: scale(1.1);
				    transform: scale(1.1);
				}
			.b-news-item-content{
				padding: 24px;
			}
				.b-news-item .date{
					color: #A3AEBC;
					margin-bottom: 8px;
				}
				.b-news-item h3{
					font-family: 'GothamPro-Medium';
					font-size: 20px;
					line-height: 30px;
				}

/* ===== ===== */

/* ===== b-seo ===== */

.b-seo{
	margin-bottom: 74px;
}

/* ===== ===== */

/* ===== footer ===== */

.b-footer{
	background-image: url(../i/footer-back.svg);
    background-position: 63% 3%;
    background-repeat: no-repeat;
    background-size: 710px;
    background-color: #282828;
    color: #FFF;
    padding: 58px 0 60px 0;
}
	.b-footer-top{
		margin-bottom: 89px;
	}
		.b-footer-logo{
			margin-right: 94px;
		}
		.b-footer-menu{
			margin-top: 20px;
			display: inline-block;
			vertical-align: top;
		}
			.b-footer-menu li{
				display: inline-block;
    			margin-right: 63px;
			}
			.b-footer-menu li:last-child{
				margin-right: 0;
			}
				.b-footer-menu li a{
					display: inline-block;
				    color: #FFF;
				    line-height: 16px;
				}
		.b-footer-right{
			margin-top: 6px;
			float: right;
		}
			.b-footer-phone{
				display: inline-block;
				vertical-align: top;
				font-family: 'GothamPro-Bold';
				font-size: 20px;
				line-height: 20px;
				color: #FFF;
				margin-bottom: 10px;
			}
			.b-footer-email{
				float: right;
				color: #FFF;
			}
	.b-footer-bottom{

	}
		.b-footer-bottom-left{
			display: inline-block;
		    vertical-align: top;
		    width: calc(100% - 150px);
			margin-top: 6px;
		}
			.b-copyright{
				display: inline-block;
				margin-right: 222px;
			}
			.b-footer-bottom-left a{
				display: inline-block;
				color: #FFF;
			}
		.b-redder{
			float: right;
			display: inline-block;
		    vertical-align: top;
		    width: 138px;
		    height: 30px;
		    background-image: url(../i/redder.svg);
		    background-position: 50% 50%;
		    background-repeat: no-repeat;
		    background-size: cover;
		}

/* ===== Внутренние страницы ===== */

.b-content-inner{
	margin-top: 50px;
}
	.b-content-inner h1:after{
		display: none;
	}

ul.b-breadcrumbs {
	margin-bottom: 20px;
}
	ul.b-breadcrumbs li {
		vertical-align: top;
	    display: inline-block;
	}
		ul.b-breadcrumbs li a,
		ul.b-breadcrumbs li span{
			font-family: 'GothamPro-Regular';
		    font-size: 16px;
		    line-height: 16px;
		    display: block;
		    float: left;
		}
		ul.b-breadcrumbs li span{
			color: #A3AEBC;
		}

	ul.b-breadcrumbs li:after {
	    position: relative;
	    content: "\e904";
	    font-size: 10px;
		line-height: 14px;
	    display: block;
	    float: left;
	    color: #E96300;
	    margin-left: 12px;
	    margin-right: 7px;
	}

	ul.b-breadcrumbs li:last-child:after {
	    display: none;
	}

/* ===== Выбор узла ===== */

.b-choice-list{
	margin-bottom: 60px;
}
	.b-choice-item{
		display: inline-block;
	    vertical-align: top;
	    width: calc(100% / 4 - 20px);
	    margin-right: 20px;
	}
	.b-choice-item:last-child{
		margin-right: 0;
	}
		.b-choice-item .b-img{
			width: 100%;
			height: 155px;
			max-width: 205px;
			background-position: 0% 50%;
		    background-repeat: no-repeat;
		    background-size: contain;
		    margin-bottom: 35px;
		}
		.b-choice-item h3{
			font-family: 'GothamPro-Medium';
		    font-size: 20px;
		    line-height: 20px;
		    margin-bottom: 24px;
		}
		.b-choice-item a{
			display: inline-block;
			font-size: 16px;
		    line-height: 20px;
			color: #E96300;
			margin-bottom: 12px;
			text-decoration: underline;
		}
		.b-choice-item a:hover{
			text-decoration: none;
		}
		.b-choice-item a:last-child{
			margin-bottom: 0;
		}

/* ===== Список запчастей =====*/

.b-input.b-input-search-by-name{
	position: relative;
	max-width: 565px;
}
	.b-input.b-input-search-by-name input{
	    padding: 12px 24px 12px 24px;
	}
	.b-input.b-input-search-by-name button{
		position: absolute;
		top: 14px;
		right: 20px;
		-webkit-appearance: none;
	    -moz-appearance: none;
	    appearance: none;
	    text-align: left;
	    font-family: 'GothamPro-Regular';
	    font-size: 16px;
	    line-height: 20px;
	    cursor: pointer;
	    background-color: transparent;
   		border: 0;
	}

.b-spares-list{
	margin-bottom: 36px;
}
	.b-spares-item{
		padding: 24px 0;
		border-bottom: 1px solid #E1E5EA;
	}
	.b-spares-item:first-child{
		padding-top: 0;
	}
	.b-spares-item:last-child{
		border-bottom: 0;
	}
		.b-spares-item .b-img{
			display: inline-block;
			vertical-align: top;
			margin-right: 20px;
			width: 172px;
			height: 135px;
			box-shadow: inset 0 0 15px 0 rgba(0,0,0,0.04);
			background-position: 50% 50%;
		    background-repeat: no-repeat;
		    background-size: cover;
		}
		.b-spares-item .b-img.b-img-empty{
			background-size: 60px;
			background-image: url(../i/empty-photo.svg);
		}
		.b-spares-item-info{
			display: inline-block;
			vertical-align: top;
			width: 665px;
		}
			.b-spares-item-info h3{
				font-family: 'GothamPro-Medium';
				font-size: 20px;
				line-height: 30px;
				margin-bottom: 10px;
			}
			.b-spares-item-info p{
				color: #A3AEBC;
				margin-bottom: 10px;
			}
			.b-spares-item-info p:last-child{
				margin-bottom: 0;
			}
		.b-spares-item .b-btn-orange{
			float: right;
		}

.b-nav{
	margin-bottom: 80px;
}
	.b-nav-pages{

	}
		.b-nav .b-nav-pages li{
			display: inline-block;
			font-size: 16px;
			line-height: 24px;
			color: #282828;
			margin-right: 16px;
			padding-left: 0 !important;
		}
		.b-nav .b-nav-pages li:before{
			display: none;
		}
		.b-nav .b-nav-pages li:last-child{
			margin-right: 0;
		}
			.b-nav .b-nav-pages li a{
				display: block;
				width: 44px;
				height: 44px;
				text-align: center;
				padding: 10px 0;
				border: 2px solid #E1E5EA;
				border-radius: 5px;
			}
			.b-nav .b-nav-pages li a.active{
				color: #FFF;
				background-color: #E96300;
				border: 2px solid #E96300;
			}

/* ===== Детальная запчастей ===== */

.b-spares-detail{

}
	.b-spares-detail-left{
		float: left;
		width: 460px;
		height: 372px;
		margin-right: 28px;
	}
		.b-spares-detail-left img{
			width: 100%;
		}
	.b-spares-detail-right{
		float: right;
		width: calc(100% - 493px);
	}
		.detail-characteristics{
			margin-bottom: 16px;
		}
			.detail-characteristics li{
				padding: 18px 0 14px 0;
				border-bottom: 1px solid #E1E5EA;
			}
			.detail-characteristics li:first-child{
				padding-top: 0;
			}
			.detail-characteristics li:last-child{
				border-bottom: 0;
			}
				.detail-characteristics .characteristic{
					display: inline-block;
					width: 186px;
					color: #A3AEBC;
				}
				.detail-characteristics span{

				}
				.detail-characteristics a{
					display: inline-block;
					font-size: 16px;
				    line-height: 20px;
					color: #E96300;
					margin-bottom: 12px;
					text-decoration: underline;
				}
				.detail-characteristics a:hover{
					text-decoration: none;
				}
				.detail-characteristics a:last-child{
					margin-bottom: 0;
				}
		.detail-desc{
			color: #555555;
			margin-bottom: 40px;
		}
		.detail-adv-list{
			margin: 47px 0 58px 0;
		}
			.detail-adv-item{
				display: inline-block;
				vertical-align: top;
				width: calc(50% - 18px);
				margin-right: 28px;
				margin-bottom: 24px;
			}
			.detail-adv-item:nth-child(2n){
				margin-right: 0;
			}
				.detail-adv-item .b-img{
					display: inline-block;
					vertical-align: middle;
					width: 60px;
					height: 60px;
					background-position: 50% 50%;
				    background-repeat: no-repeat;
				    background-size: contain;
				    margin-right: 20px;
				}
				.detail-adv-item-text{
					display: inline-block;
					vertical-align: middle;
					width: calc(100% - 85px);
					font-family: 'GothamPro-Medium';
				}
		.b-spares-other{
			margin-bottom: 80px;
		}
			.b-spares-other h2{
				font-family: 'GothamPro-Bold';
				font-size: 24px;
				line-height: 32px;
				margin-bottom: 40px;
			}
			.b-spares-other h2:after{
				display: none;
			}
			.b-spares-other .b-btn-tr{

			}

/* ===== Новости ===== */

.b-news-all{
	padding: 0;
}
	.b-news-all .b-news-list{
		margin: 0 0 10px 0;
	}
		.b-news-all .b-news-item{
			margin-bottom: 50px;
		}

/* ===== Контакты ===== */

.b-contacts{

}
	.b-contacts-list{
		margin-bottom: 56px;
	}
		.b-contacts-item{
			display: inline-block;
			vertical-align: top;
			width: 33%;
		}
		.b-contacts-item:nth-child(3){
			padding-left: 80px;
		}
			.b-contacts-item h3{
				font-family: 'GothamPro-Bold';
				font-size: 24px;
				line-height: 32px;
				margin-bottom: 20px;
			}
			.b-contacts-item p{
				margin-bottom: 14px;
			}
			.b-contacts-item a{
				color: #E96300;
				text-decoration: underline;
			}
			.b-contacts-item a:hover{
				text-decoration: none;
			}
	.b-contacts-map-cont{
		width: 100%;
		height: 723px;
	}
		#b-contacts-map{
			width: 100%;
			height: 100%;
		}
		.b-requisites{
			position: absolute;
			top: 97px;
			right: 0;
			z-index: 10000;
			width: 468px;
			border-radius: 5px;
			overflow: hidden;
			box-shadow: 0 10px 35px 0 rgba(0,0,0,0.10);
			background-color: #FFF;
		}
			.b-requisites h3{
				background-image: url(../i/footer-back.svg);
			    background-position: 77% 20%;
			    background-repeat: no-repeat;
			    background-size: 370px;
			    background-color: #282828;
			    color: #FFF;
			    font-family: 'GothamPro-Bold';
			    font-size: 32px;
			    line-height: 42px;
			    padding: 27px 44px;
			}
			.b-requisites-info{
				padding: 33px 44px 42px 44px;
			}
				.b-requisites p{
					max-width: 342px;
					margin-bottom: 10px;
				}


/* ===== ===== */

.b-line{
	width: 120px;
	height: 5px;
	background-image: linear-gradient(180deg, #F38600 0%, #E45200 100%);
}

/* ===== input/select/checkbox ===== */

.b-input{
	position: relative;
	margin-bottom: 32px;
}
	.b-input input{
		width: 100%;
		padding: 19px 24px 21px 67px;
	    background-color: #F4F4F4;
	    color: #282828;
	    border: 1px solid #F4F4F4;
	    border-radius: 5px;
	    font-size: 16px;
	    line-height: 24px;
		font-family: 'GothamPro-Regular';
		background-position: 23px 46%;
    	background-repeat: no-repeat;
    	background-size: 24px;
    	box-shadow: 0 -3px 0 0 #E8EBEE;
	}
	.b-input-name{
    	background-image: url(../i/icon-user.svg);
	}
	.b-input-phone{
    	background-image: url(../i/icon-phone.svg);
	}

.icon-check:before{
	font-size: 9px;
    color: #282828;
}
.b-checkbox{
	position: relative;
}

.b-checkbox input[type="checkbox"].error + label + label .b-checked,
.b-checkbox input[type="checkbox"].error + label .b-checked{
	border: 1px solid #F00 !important;
	box-shadow: 0 -2px 0 0 #ff4e4e !important;
}
.b-checkbox label{
	cursor: pointer;
}

.b-checkbox input[type="checkbox"]{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
}
	.b-checkbox .b-checked{
		position: relative;
		display: inline-block;
		vertical-align: top;
		width: 20px;
		height: 18px;
		border-radius: 5px;
		border: 1px solid #F4F4F4;
		background-color: #F4F4F4;
		margin-right: 10px;
		box-shadow: 0 -2px 0 0 #E8EBEE;
	}
		.b-checkbox .b-checked:before{
			position: absolute;
			left: 3px;
			top: 3px;
			display: none;
		}
		.b-checkbox label:hover .b-checked:before{
			opacity: 0.3;
			display: block;
		}
		.b-checkbox input[type="checkbox"]:checked + label + label .b-checked:before,
		.b-checkbox input[type="checkbox"]:checked + label .b-checked:before{
			display: block;
		}
		.b-checkbox input[type="checkbox"]:checked + label + label:hover .b-checked:before,
		.b-checkbox input[type="checkbox"]:checked + label:hover .b-checked:before{
			opacity: 1;
		}

	.b-checkbox p{
		display: inline-block;
		vertical-align: top;
		width: calc(100% - 36px);
		font-size: 12px;
		line-height: 18px;
	}
	.b-checkbox a{
		color: #FFF;
		text-decoration: underline;
	}
	.b-checkbox a:hover{
		text-decoration: none;
	}

/* ===== ===== */


@media (-webkit-min-device-pixel-ratio: 1.5) {
	
}	
@media screen and (max-width: 1250px){
	
}
@media screen and (max-width: 1020px){

}