@charset "utf-8";

body{
	min-width: 750px;
}
.b-block{
	width: calc(100% - 48px);
}

.b-header-top .b-logo {
    margin-top: 6px;
    margin-right: 28px;
}
.b-logo {
    width: 180px;
}
.b-logo .logo {
    width: 180px;
    height: 30px;
    background-size: 180px;
}

.b-menu-desktop li {
    margin-right: 36px;
}

.b-head-phone {
    font-size: 16px;
    line-height: 20px;
}
.b-header-right .b-btn-orange {
    min-width: 150px;
    font-size: 14px;
    padding: 10px 18px 11px 18px;
}

.b-header-adv-item {
    width: calc(50% - 34px);
}

.b-3-back{
	right: auto;
	left: 290px;
}

.b-footer-logo{
	margin-right: 50px;
}
.b-footer-menu li {
    margin-right: 36px;
}
.b-copyright {
    margin-right: 112px;
}

.b-contacts-item p br{
	display: none;
}
.b-contacts-item:nth-child(3) {
    padding-left: 0;
}

@media screen and (max-width: 1090px){

	.b-menu-desktop li {
	    margin-right: 24px;
	}


}

@media screen and (max-width: 1024px){

	.b-menu-desktop{
		display: none;
	}
	.b-menu-mobile{
		display: inline-block;
	}
	.b-header-top .b-logo {
	    margin-top: 6px;
	    margin-right: 40px;
	}
	.b-header-adv-item {
	    width: calc(50% - 20px);
	    margin-right: 30px;
	}
	.b-header-adv-item br{
		display: none;
	}
	.b-1-item .b-img {
	    height: 120px;
	}
	.b-1-list {
	    margin-top: 60px;
	}
	.b-1 {
	    padding: 60px 0 76px 0;
	}
	.b-2 {
	    padding: 110px 0 110px 0;
	}

	.b-3-back {
	    top: auto;
	    bottom: -90px;
	}
	.b-3-left{
		width: 100%;
		max-width: 700px;
		margin-top: 0;
		margin-bottom: 50px;
	}
	.b-3-right{
		float: none;
		width: 492px;
	}
	.b-footer-menu{
		margin-top: 0px;
		width: calc(100% - 430px);
	}
		.b-footer-menu li{
			width: calc(50% - 16px);
			display: inline-block;
			margin-right: 24px;
			margin-bottom: 12px;
		}
		.b-footer-menu li:nth-child(2n){
			margin-right: 0;
		}
			.b-footer-menu li a{

			}

	.b-choice-item .b-img {
	    height: 100px;
	    max-width: 150px;
	}

	.b-spares-detail-left {
	    width: 340px;
	    height: 276px;
	    margin-right: 20px;
	}
	.b-spares-detail-right {
	    width: calc(100% - 362px);
	}
	.detail-characteristics .characteristic {
	    width: 155px;
	}
	.detail-characteristics .characteristic-val {
	    width: calc(100% - 160px);
	}
	.detail-adv-item {
	    width: 100%;
	    max-width: 360px;
	}

	.b-contacts-list {
	    margin-bottom: 32px;
	}
	.b-contacts-item {
	    width: calc(50% - 4px);
	    margin-bottom: 24px;
	}

	.b-news-all .b-news-item {
	    margin-bottom: 32px;
	}

}

@media screen and (max-width: 900px){

	.b-header-search {
	    padding: 16px 20px;
	}
	.b-btn-header-catalog-cont {
	    margin-right: 12px;
	}
	.b-input-search {
	    width: calc(100% - 412px);
	}
	.b-btn-header {
	    padding: 15px 20px 13px 20px;
	}
	.b-header-catalog-text {
	    margin-right: 12px;
	}

	.b-news-item h3 {
	    font-size: 18px;
	    line-height: 24px;
	}
	.b-news-item .date {
	    font-size: 14px;
	}
	.b-news-item-content {
	    padding: 16px;
	}
	.b-news-item {
	    width: calc(100% / 3 - 14px);
	    margin-right: 16px;
	}

	.b-footer-top {
	    margin-bottom: 38px;
	}
	.b-copyright {
	    display: block;
	    margin-right: 24px;
	}

	.b-choice-list {
	    margin-bottom: 30px;
	}
	.b-choice-item{
		width: calc(100% / 2 - 14px);
		margin-bottom: 32px;
	}
	.b-choice-item:nth-child(2n){
		margin-right: 0;
	}
	.b-choice-item .b-img {
		background-position: 0% 100%;
	    margin-bottom: 24px;
	}

}
